<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <section id="AboutMe">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">
        About Me
      </h2>
      <hr class="star-dark mb-5" />
      <div class="row" style="margin-bottom: 20px;margin-right: 58px;">
        <div class="col-lg-7 ml-auto">
          <img src="/Assets/images/common/photo.jpeg" style="height: 91%;width: 41%;">
        </div>
      </div>
      <div class="row" style="margin-right: -73px;margin-top: -34px;">
        <div class="col-lg-7 ml-auto">
           <label class="lead" style="font-weight: bold;">Gurpreet Singh</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <p class="lead">
            Creative Front-End Web Developer with the ability to coordinate
            detail oriented large scale projects, motivated with a passion to
            execute and implement tools necessary for success.To know more about me <a href="/Assets/documents/Gurpreet-Singh.pdf" target="_blank">click here</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->
  <%- include partials/bottom_nav.ejs %>  

  <%- include partials/footer.ejs %>
    