<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

 <!--Header-->
 <header class="masthead bg-primary text-white text-center">
  <div class="container">
    <span style="font-size: 120px;"> </span>
  
    <h1 class="text-uppercase mb-0"> Gurpreet Singh</h1>
    <hr class="star-light" />
    <h2 class="font-weight-light mb-0">Front-End Web Developer</h2>
    <p class="lead" style="margin-top: 28px;">A Technocrat looking to explore opportunity in developing and managing applications which includes
      Client Interactions, Requirement Management, Impact Analysis, Prototyping, Database Design, Development,
      Implementation, Testing and Maintenance.</p>
  </div>
</header>
<!--Footer-->
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




