
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <section id="Projects">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">
                Projects
            </h2>
            <hr class="star-dark mb-5" />
            <div class="row">
                <!--Book Management System-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#">
                        <img class="img-fluid" src="/Assets/images/projects/booksystem.jpg" alt="Book Management System" />
                        <p>
                            Book Management System
                        </p>
                    </a>
                </div>
                <!--Weather App-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/projects/weather-app.png" alt="Weather App" />
                        <p>
                            Weather App
                        </p>
                    </a>
                </div>
                <!--POS-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/projects/pos.jpg" alt="POS" />
                        <p>Point of sale</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <%- include partials/bottom_nav.ejs %>  

    <%- include partials/footer.ejs %>
      