
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <section id="Services">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">
                Services
            </h2>
            <hr class="star-dark mb-5" />
            <div class="row">
                <!--web-development-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#">
                        <img class="img-fluid" src="/Assets/images/services/web-development.png" alt="Web Development" />
                        <p>
                            Web Development
                        </p>
                    </a>
                </div>
                <!--Mobile App Development-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/services/Mobile-apps.png" alt="Mobile App Development" />
                        <p>
                            Mobile App Development
                        </p>
                    </a>
                </div>
                <!--Game-programming-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/services/Game-programming.png" alt="Game Programming" />
                        <p>Game Programming</p>
                    </a>
                </div>
                <!--Blockchain-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/services/blockchain.jpg" alt="Blockchain " />
                        <p>
                            Blockchain
                        </p>
                    </a>
                </div>
                <!--software-development-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/services/software-development.jpeg" alt="software-development" />
                        <p>Software Development</p>
                    </a>
                </div>
                <!--logo-Designing-->
                <div class="col-mn-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto"
                        href="#">
                        <img class="img-fluid" src="/Assets/images/services/logo-desiging.jpg" alt="logo desiging" />
                        <p>Logo Designing.</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  